span
{color: aqua;}

/*coments blblblb*/
selector 
  { property: value;
    property2: value2
}


#header{
    background-color: red;
}

.digit{
    font-size: xx-large;
}

/**{

    text-align: center;
}*/

